/*@import "http://webfonts.ru/import/lato.css";*/
/*
	Lato, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic, 900, 900 italic
*/

@font-face {
    font-family: 'Lato';
    src: local('Lato Hairline'), local('Lato-Hairline'), url('../fonts/fonts/100.woff2') format('woff2'), url('../fonts/fonts/100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url('../fonts/fonts/100i.woff2') format('woff2'), url('../fonts/fonts/100i.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Thin'), local('Lato-Thin'), url('../fonts/fonts/200.woff2') format('woff2'), url('../fonts/fonts/200.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Thin Italic'), local('Lato-ThinItalic'), url('../fonts/fonts/200i.woff2') format('woff2'), url('../fonts/fonts/200i.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'), url('../fonts/fonts/300.woff2') format('woff2'), url('../fonts/fonts/300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url('../fonts/fonts/300i.woff2') format('woff2'), url('../fonts/fonts/300i.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/fonts/400.woff2') format('woff2'), url('../fonts/fonts/400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/fonts/400i.woff2') format('woff2'), url('../fonts/fonts/400i.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'), url('../fonts/fonts/500.woff2') format('woff2'), url('../fonts/fonts/500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url('../fonts/fonts/500i.woff2') format('woff2'), url('../fonts/fonts/500i.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold'), local('Lato-Semibold'), url('../fonts/fonts/600.woff2') format('woff2'), url('../fonts/fonts/600.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'), url('../fonts/fonts/600i.woff2') format('woff2'), url('../fonts/fonts/600i.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/fonts/700.woff2') format('woff2'), url('../fonts/fonts/700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../fonts/fonts/700i.woff2') format('woff2'), url('../fonts/fonts/700i.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Heavy'), local('Lato-Heavy'), url('../fonts/fonts/800.woff2') format('woff2'), url('../fonts/fonts/800.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'), url('../fonts/fonts/800i.woff2') format('woff2'), url('../fonts/fonts/800i.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'), url('../fonts/fonts/900.woff2') format('woff2'), url('../fonts/fonts/900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('../fonts/fonts/900i.woff2') format('woff2'), url('../fonts/fonts/900i.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}


/*
@font-face {
    font-family: "LatoRegular";
    src: url("../fonts/LatoRegular/LatoRegular.eot");
    src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
    url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.eot");
    src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoLight/LatoLight.woff") format("woff"),
    url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoMedium";
    src: url("../fonts/LatoMedium/Lato-Medium.eot");
    src: url("../fonts/LatoMedium/Lato-Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoMedium/Lato-Medium.woff") format("woff"),
    url("../fonts/LatoMedium/Lato-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LatoBlack";
    src: url("../fonts/LatoBlack/Lato-Black.eot");
    src: url("../fonts/LatoBlack/Lato-Black.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LatoBlack/Lato-Black.woff") format("woff"),
    url("../fonts/LatoBlack/Lato-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: "LatoHeavy";
  src: url("../fonts/LatoHeavy/Lato-Heavy.eot");
  src: url("../fonts/LatoHeavy/Lato-Heavy.woff") format("woff"),
       url("../fonts/LatoHeavy/Lato-Heavy.ttf") format("truetype"),
       url("../fonts/LatoHeavy/Lato-Heavy.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans/FiraSans-Heavy.eot");
    src: url("../fonts/FiraSans/FiraSans-Heavy.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSans/FiraSans-Heavy.woff") format("woff"),
    url("../fonts/FiraSans/FiraSans-Heavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
