html,
body {
    height: 100%;
}
.childCategoryC li a {
    font-size: 14px;
    text-decoration: none;
    position: relative;
    display: block;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
div.unreadMsgCount{
    float: right;
    background: url("/img/unreadMsg.png");
    width: 38px;
    height: 23px;
    position: relative;
    margin: 23px 4% 0 0;
}
div.unreadMsgCount > .countM{
    width: 28px;
    height: 28px;
    background: #ff6f69;
    position: absolute;
    top: -22px;
    right: -18px;
    text-align: center;
    line-height: 29px;
    border-radius: 50%;
    font-family: Lato;
    font-size: 14px;
    color: white;
}

.group-box a sup.unreadMsg {
    padding: 1px 5px 1px;
    display: inline-block;
    position: relative;
    top: -15px;
    left: 5px;
    height: 14px;
    font: 12px "LatoHeavy";
    color: #fff;
    background: #ff6f69;
    border-radius: 2px;
}

.category_list_block{
    position:absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 185px;
    padding: 8px 23px;
    text-align: left;
    z-index: 100;
    background: #fff;
    border: 1px solid rgba(187, 187, 187, .4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .18);
}
.category-change{
    position:relative;
    font: 18px "LatoMedium", sans-serif;
    color: #2d2d2d;
    text-decoration: none;
    background: #fff;
    border: 2px solid #dedede;
    border-radius: 2px;
    width:100%;
    height:45px;
    padding:10px 10px;
    margin-top:30px;
}
.show_more_product_btn{
    font-weight: 500;
    display: inline-block;
    padding: 6px 30px 6px;
    margin-top: 10px;
    line-height: 36px;
    font-size: 16px;
    color: #fff !important;
    text-align: center;
    text-decoration: none !important;
    background-color: #ff6f69;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-family: Lato;
}


.category-change a{
    color: #2d2d2d !important;    
}
.category-change a:before{
    content: ' ';
    display: block;
    position: absolute;
    background: url(../img/map-marker-big.png) no-repeat;
    background-size: 15px;
    top: 10px;
    left: 45px;
    width: 34px;
    height: 53px;    
}

.category-change.hideCateg a:after{
    content: ' ';
    display: block;
    position: absolute;
    background: url(../img/arrow-down-big.png) no-repeat;
    background-size: 15px;
    top: 15px;
    right: 10px;
    width: 31px;
    height: 20px;    
}

.category-change.showCateg a:after{
    content: ' ';
    display: block;
    position: absolute;
    background: url(../img/arrow-down-big.png) no-repeat;
    background-size: 15px;
    top: 4px;
    right: 26px;
    width: 31px;
    height: 20px;    
    webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}



/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.profileMenu{
    font-weight: 600;
    color: #575757;
    font-family: Lato;
    display: inline-block;
    width: 210px;
    height: 58px;
    position: relative;
    vertical-align: middle;
    font-size: 16px;
    line-height: 58px;
    text-decoration: none;
    white-space: nowrap; width: auto;padding: 0 37px;margin: 0 5px;border-radius: 3px 3px 0 0;border-left: 1px solid #ccc;border-top: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #0060ff;    
}
.rightBlockMenu li{
    position:relative;
    z-index: 100;
    border-radius:5px;
}

.rightBlockMenu li:hover span:first-child{
    color: #ff6f69;
}

.rightBlockMenu li a{
    color:black;
}

.rightBlockMenu li:hover>a{
    color: #ff6f69;
}
.map_css{
    padding: 10px;
}
.padding_personal_cabin{
    padding-right: 15px;
    padding-left: 15px;
}
.image_cabinet{
    padding-left: 0px;
}
.logout_mob_input_container{
    padding: 13px 0px 13px;
    display:none;
    width: 100%;
    text-align: center;
    z-index: 100;
    background: #fff;
    border: 1px solid rgba(187, 187, 187, .4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .18);
}
.signin_mob{
    background: #76bb3f;
    color:white;
    font-size: 28px;
    line-height: 64px;
    width:100%;
    display:block;
}

.signin_mob:hover{
    color:white;
    text-decoration: none;
}

.logout_mob{
    background: #dd5941;
    color:white;
    font-size: 28px;
    line-height: 60px;
    width:100%;
    display:block;
}

.submenuFirst{
    position: absolute;
    top: -60px;
    left: 100%;
    z-index: 10;
/*    border:1px solid #c2c2c2;
    background-color: #f8f8f8;*/
    padding: 10px 10px 30px 0;
    margin: -1px 0 0 -2px;
    box-sizing: border-box;
    display:none;
    border-radius: 5px;
}
.submenuFirst li{
    min-width:350px;
    position:relative;
    margin-right: -10px;
}
.submenuFirst li.eHover:hover{
    margin-right: 0px;
}

.submenuSecond{
    position: absolute;
    top: -60px;
    left: 100%;
    z-index: 10;
    border-radius: 5px;
    background-color: #f8f8f8;
    border:1px solid #c2c2c2;
    padding: 10px 0 30px 15px;
    margin: -1px 0 0 -2px;
    box-sizing: border-box;
    display:none;
}
.cityPreview li{
    display:block;
    border-bottom: 1px solid grey;
    width:100%;
}
.cityPreview{
    max-height:300px;
    overflow: auto;
}
.letterBlock .letter{
    cursor: pointer;
    width: 35px;
    padding:10px;
    margin:2px;
    border-radius:6px;
    float:left;
    background-color:#8697cb;
    color:white;
}


.letter.active {
	position: relative;
	background: #ff6f69;
}
.letter.active:after, .letter.active:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}

.letter.active:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #ff6f69;
	border-width: 10px;
	margin-left: -10px;
}
/*.letter.active:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 16px;
	margin-left: -16px;
}*/
.column div{
    display: inline-block;
    padding:5px;
    color:#8697cb;
    line-height: 2;
    padding-left: 0px;
}
.column{
    padding-left: 0px;
    margin-bottom: 70px;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid transparent;
    -moz-column-rule: 1px solid transparent;
    column-rule: 1px solid transparent;
    text-align:left;
}
.column div:hover{
    color:#ff6f69;
    cursor:pointer;
    font-weight: bold;
}
.letterChoisen{
    font-family: Lato;
    font-weight: 800;
    font-size:60px;
    text-align:left;
}

.appProductChoiseCity li{
    text-align:left;
    display:block;
    border-bottom: 1px solid #ccc;
    width:100%;
    padding:8px;
    font-family: Lato;
}
.appProductChoiseCity{
    border-left: 4px solid #ccc;
    border-right: 4px solid #ccc;
    max-height: 300px;
    overflow: auto;
    cursor: pointer;
}
.deleteSearchText{
    position:absolute;
    right:0px;
    top:0px;
    z-index:8;
    font-size:15px;
    color:#898989;
    padding:7px;
    background-color: white;
    padding-top:16px;
    cursor:pointer;
    margin-top:2px;
    margin-right:2px;
}
.deleteSearchText:hover{
    color:#ff6f69;
}

.headerSearchText::-moz-placeholder{
    color:#898989 !important;
    font: 14px "Lato", sams-serif;
    font-weight: 700;
}
.headerSearchText:-moz-placeholder{
    color:#898989 !important;
    font: 14px "Lato", sams-serif;
    font-weight: 700;
}

.headerSearchText:-ms-input-placeholder{
    color:#898989 !important;
    font: 14px "Lato", sams-serif;
    font-weight: 700;
}
.headerSearchText::-webkit-input-placeholder{
    color:#898989 !important;
    font: 14px "Lato", sams-serif;
    font-weight: 700;
}

.productCountDiv{
    display:inline-block;
    padding:4px 8px;
    color:white;
    background-color: #5d5d5d;
    border:1px solid #707070;
}

.header-search_mob input {
    padding-top:8px;
}
.header-search_mob input::-moz-placeholder{
    font: 22px "Lato", sams-serif;
    color:#2d2d2d;
}
.header-search_mob input:-moz-placeholder{
    font: 22px "Lato", sams-serif;
    color:#2d2d2d;
}
.header-search_mob input:-ms-input-placeholder{
    font: 22px "Lato", sams-serif;
    color:#2d2d2d;
}
.header-search_mob input::-webkit-input-placeholder{
    font: 22px "Lato", sams-serif;
    color:#2d2d2d;
}




.account_mob-link{
    padding: 0px 30px;
    font: 20px "Lato", sans-serif;
    color: #00b2e2;
    text-decoration: none;
    position: relative;
    -webkit-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}
.account_mob-link:hover{
    color:#00b2e2;
}

.account_mob-link:before {
    content: ' ';
    display: block;
    position: absolute;
    background: url(../img/account_avatar_mob.png) no-repeat;
    top: 2px;
    left: 5px;
    width: 19px;
    height: 22px;
    background-size: 100%;
}
.account_mob-link:after {
    content: ' ';
    display: block;
    position: absolute;
    background: url(../img/account_arrow_mob.png) no-repeat;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 10px;
    background-size: 100%;
}

.login_mob_input_container input{
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: 70px;
    position: relative;
    padding: 0 0 4px 20px;
    font: 22px "Lato", sams-serif;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
}
.login_mob_input_container{
    width: 100%;
    padding: 15px 23px;
    text-align: left;
    z-index: 100;
    background: #fff;
    border: 1px solid rgba(187, 187, 187, .4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .18)
}

#btn-in_mob{
    font: 22px "Lato", sams-serif;
    display: inline-block;
    width: 130px;
    height: 51px;
    margin-top: 12px;
    line-height: 51px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #ff6f69;
    border-radius: 2px;
}
#btn-signin_mob{
    font: 22px "Lato", sams-serif;
    display: block;
    width: 100%;
    margin-top: 24px;
    color: #fff;
    text-align: center;
    background: #76bb3f;
    cursor: pointer;
    height: 54px;
    line-height: 51px;
}
.login_mob_input_container{
    display:none;
}
.productCountBlockmodal .productCountDiv{
    font: 20px "Lato", sams-serif;    
    font-weight: 900;
    line-height: 20px;
    border-radius: 3px;
}
.productCountBlockmodal{
    padding-top:4px;
    padding-left:16%;
}
.image_cabinet img{
    border-radius: 50%;
    width: 100%;
}
.text_cabinet{
    margin-top: 54px;
    line-height: 2.3;
    color: #757575;
    font-family: Lato;
    font-size: 17px;

}
.text_cabinet a{
    padding-left: 5px;
    font-size: 18px;
    color: black;
    font-family: Lato;
    font-weight: 600;

}
.text_mail_cabinet{
    padding-left: 35px;
    padding-top: 29px;
    padding-bottom: 33px;
    border-left: 1px solid #ccc;;
    border-top: 1px solid #ccc;;
    border-right: 1px solid #ccc;;
    border-bottom: 1px solid #ccc;;
    border-radius: 3px;
    margin-top: 20px;
    line-height: 3.0;
    color: #262626;
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
}
.text_mail_cabinet a{
    font-size: 18px;
    color: black;
    font-family: Lato;
    font-weight: 600;
}
.text_mail_cabinet q{
    position: relative;
    top: 6px;

}
.text_mail_cabinet img{
    padding-right: 8px;
    width: 31px;
}

.change_photo{
    color: #0060ff;
    text-align: center;
    top: 10px;
    font-size: 17px;
    font-family: Lato;
    padding-top: 10px;
}


#btn-signin{
    display: inline-block;
    width: 97px;
    height: 36px;
    margin-top: 12px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #ff6f69;
    cursor:pointer;
    border-radius: 2px;
}

.btn-signup{
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #fff !important;
    text-align: center;
    background: #76bb3f;
    cursor:pointer;
    text-decoration: none;
    line-height: 44px;
}

.btn-signup:hover{
    color: #fff !important;
    text-decoration: none;
}
/*Sviatosav*/
.title_city{
    padding-bottom: 25px;
}
.title_city a{
    position: relative;
    right: 12px;
    font-size: 21px;
    font-family: Lato;
    color: black;
    font-weight: 800;
}
.modal-title {
    font-size: 21px;
    font-family: Lato;
    font-weight: 900;
}

.modal-overflow .modal-body {
    padding: 30px 80px 5px;
}

.button_personal1 {
    font-size: 16px;
    padding: 9px 35px 9px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background: #dd5941;

}




.modal-body {
    color: black;
    font-size: 16px;
    line-height: 2;
    font-family: Lato;
}
.form-control-width {
    height: 45px;
    border-radius: 0px;
    float: right;
    margin-bottom: 25px;

}
.button_personal2{
    font-size: 16px;
    padding: 9px 29px 9px;
    color: #fff;
    text-align: center;
    background: #ff6f69;
    cursor: pointer;
    margin-top: 20px;

}
.btn_per {
    font-family: Lato;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

/*.card-head_connect .btn-connect_one a{
    padding-right: 5px;
}*/
.line_header{
    border: none;
}
.line_foter{
    padding: 15px 80px 15px;
    border: none;
}
.content_sviat{
    overflow: auto;
    border-radius: 1px;
    border: 1px solid rgba(187, 187, 187, 0.4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);

}
.title_form_prp{
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
    color: #7e7e7e;
    margin-bottom: 20px;
}
.head_form_prp h1{
    font-family: Lato;
    font-weight: 900;
    margin-bottom: 10px;
    font: 900 20px Lato;
}
.form_text{
    font-size: 16px;
    color: black;
    font-family: Lato;
    font-weight: 400;
    border-radius: 0px;
    height: 46px;
}

/*end sviatoslav*/
/*Andriy*/
.btnSavePosition{
    margin-top: 20px;
    background-color: #ffea00;
    color: black;
    padding: 17px 25px 17px 25px;
    font: 15px lato;
    border: 0px;
    border-radius: 0px;
    font-weight: 900;
}
.blockSavePhotoButton{
    display:none;
    text-align: center;
}
.row-table-style{
    display:none;
}
.row-radius-location{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.row-radius-location h1{
    font-size: 21px;
    font-family: Lato;
    font-weight: 900;
}
.row-radius-location h3{
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
    margin-top:10px;
    color:#7e7e7e;
}
.row-background-map{
    padding:15px;
    background-color: #00b2e2; 
}
/*.row-background-map-back{
    padding-left: 0px;
}*/
.row-id-map{
    width:100%;
    height: 300px;
}
.row-location-backdround{
    padding-right: 0px;
}
.row-location-map-city q{
    color:white;
    font-family: Lato;
    font-weight: 700;
}
.row-location-map-city {
    color:white;
    font-family: Lato;
    font-weight: 700;
}
.row-location-map-radius{
    color:white;
    margin-top:20px;
    font-family: Lato;
    font-weight: 700;
}
/*end Andriy*/
.form-control-height{
    height: 200px;
    border-radius: 0px;
    float: right;
    width: 70%;
    margin-top: 10px;
}
.button_message{
    float: left;
    margin-bottom: 30px;
}
.form-text{
    color: #959595;
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
}
.form_tex_in{
    color: #2d2d2d;
    padding: 6px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
}
.head_form_product{
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
}
.modal_bodu_padding{
    padding: 0px 80px 5px!important;
}

.ogoloshena{
    font-weight:600;
    border:0px solid transparent;
}
.ogoloshena_pid{
    font-weight:600;
    border:0px solid transparent;
}
.ogoloshena_micro{
    opacity: 0.8;
    margin-bottom:0px;
    display:none;
}

.ogoloshena_pid_micro{
    font-weight:400;
    border:0px solid transparent;
}
.hideE {
    color: black;
    font-weight:900;
    width:100%;cursor:pointer
}
.main_text{
    font-weight:900!important;
    width:100%;
    cursor:pointer;
}

.main_categoru a {
    font-family: Lato;
    text-decoration: none;
    color: black;
    cursor:pointer
}
.vse_ogoloshena_micro a{
    color: #ff6f69;
}
.ogoloshena_pid_micro a{
    color:#ff6f69;
}
.vse_ogoloshena a{
    color: #ff6f69;
}
.ogoloshena_pid a{
    color: #ff6f69;
}
.registration h1{
    font: 22px 'Lato';
    font-weight: 900;
    color:black;
    text-align:left;
}
.mobile_menublok{
    display: none;
}
.mobile_show{
    display: none;
}

.deleteSearchText{
    right:0px;
    top:0px;
}
.text_site_error h1{
    font-size: 31px;
    color: #62697c;
    font-family: Lato;
}
.text_site_error h4{
    font-family: Lato;
    font-size: 16px;
    color: #62697c;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}
.text_site_error ul{
    line-height: 1.5;
    font-size: 14px;
    color: #62697c;
    font-family: Lato;
    font-weight: 400;
}
.button_error {
    display: inline-block;
    padding: 9px 35px 9px;
    margin-top: 20px;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #ff6f69;
    cursor: pointer;
    border-radius: 2px;
}
.number_error{
    font-family: Lato;
    font-weight: 600;
    font-size:200px;
    color: #62697c;
}
.border_error{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    padding: 30px 30px 30px;
    border: 1px solid rgba(187, 187, 187, 0.4);
}
.button_error_cl a:hover{
    color: #fff;
    text-decoration: none;
}
.border_reset{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    padding: 30px 80px 30px;
    border: 1px solid rgba(187, 187, 187, 0.4);
}

.text_reset h1{
     font-family: Lato;
     font-weight: 900;
     margin-bottom: 10px;
     font: 900 20px Lato;
 }
.text_reset p{
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
    color: #7e7e7e;
    margin-bottom: 15px;
}
.text_reset_mail label{
    margin-bottom: 5px;
    color: #818181;
    margin-top: 7px;
    text-align: -webkit-right;
    padding: 0;
    font-family: Lato;
    font-weight: 400;
}
.text_reset_mail p{
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    color: #7e7e7e;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fornm_email{
    color: black;
    font-family: Lato;
    font-weight: 400;
    border-radius: 0px;
    height: 46px;
}
.button_reset{
    padding: 0px 35px 0px;
    display: block;
    margin-top: 10px;
    height: 46px;
    font: 800 15px "Lato";
    color: #010000;
    border: none;
    background: #fed01b;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 40px;

}
.padding_bottom_form1{
    padding-bottom: 20px;
}
.padding_fotter{
    padding: 0px;
}
.addPhoto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../img/product_add_photo.png);
}
.addPhoto:hover{
    background-image: url(../../../img/product_add_photo_hover.png) !important;
}
.img_product {
    position: relative;
    float: left;
    top: 13px;
    padding-right: 15px;
}
.chat-box{
    display: none;
}
.load-data{
    display: none;
    position: absolute;
    top: 48%;
    left: 48%;
}
.msg-box{
    position: relative;
    height: 50vh;
    overflow: hidden;
    margin-top: 10px;
}
.msg-box .messages{
    overflow-y:   auto;
    position:   absolute;
    bottom:     30px;
    width: 100%;
    max-height: 45vh;
}
.msg-box .messages .msg-text{
    font-family: Lato;
    width: 75%;
    margin-top: 15px;
    padding: 0 10px;
}
.msg-box .messages .msg-text:after{
    display: block;
    content: '';
    clear: both;
}
.msg-box .messages .msgTo{
    float: left;
}
.msg-box .messages .msgFrom{
    float: right;
}
.help_user_glavn{
    margin-top: 19px;
    text-align: center;
    background-color: #eeeeee;
    padding: 35px 10px 35px;
}
.help_user_img {
    text-align: center;
}
.help_user_img img{
    padding-bottom: 10px;
}
.help_user_glavn a{
    text-decoration: none;
    font-family: Lato;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.help_form{
    margin-top: 20px;
    margin-bottom: 10px;
}
.help_user_glavn button {
    font-family: Lato;
    font-weight: 900;
    display: inline-block;
    padding: 6px 30px 6px;
    margin-top: 10px;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #ff6f69;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}
.help_form::-moz-placeholder{
    font-family: Lato;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;

}
.help_form:-moz-placeholder{
    font-family: Lato;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;

}

.help_form:-ms-input-placeholder{
    font-family: Lato;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;

}
.help_form::-webkit-input-placeholder{
    font-family: Lato;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}
.help_form {
    border-radius: 0px;
    height: 46px;

}
.registrationq h1{
    margin-bottom: 25px;
    font-family: Lato;
    color: black;
    font-weight: 800;
    font-size: 21px;
}
.send_reklama {
    font-family: Lato;
    font-weight: 500;
    display: inline-block;
    padding: 6px 30px 6px;
    margin-top: 35px;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #76bb3f;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}
.form_reklam_padding{
    margin-bottom: 5px;
}
.reklam_text::-moz-placeholder{
    font-family: Lato;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.reklam_text:-moz-placeholder{
    font-family: Lato;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.reklam_text:-ms-input-placeholder{
    font-family: Lato;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.reklam_text::-webkit-input-placeholder{
    font-family: Lato;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.message_style{
    border-bottom: 1px solid #e5e5e5;
    padding:20px
}
.date span{
    color: #c1c1c1;
    font-family: Lato;
    font-size: 15px;
}
.user_message_style{
    font-weight: 500;
    color: #787878;
    font-size: 19px;
    font-family: Lato;
}
.status_online a{
    text-decoration: none;
    color: #247805;
    font-family: Lato;
    font-size: 16px;
}
.class_info_user{
    position: relative;
    top: 25px;
}
.status_online {
    padding-top: 10px;
    padding-bottom: 10px;
}
.message_design{
    color: #005dff;
    font-family: Lato;
    font-weight: 800;
    font-size: 18px;
}
.message_design a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #005dff;

}
.msg-box .messages .msgFrom {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px;
    background-color: #eeeeee;
}
.msg-box .messages .msgTo{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px;
    background-color: #add;
}
.button_message{
    text-decoration: none;
    border: none;

}
.button_message {
    position: relative;
    bottom: 11px;
    cursor: pointer;
    display: inline-block;
    font-family: "Lato";
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #66ce00;
    padding: 21px 31px 21px;
}
.head_message a{
    font-size: 26px;
    font-family: Lato;
    font-weight: 900;
    color: black;
    float: left;
}
.count_message {
    float: left;
    display: inline-block;
    position: relative;
    font: 15px "Lato";
    color: #fff;
    background: #ff6f69;
    border-radius: 2px;
    padding: 5px 14px 5px;

}
.sup_style{
    position: relative;
    float: left;
    top: 1px;
    padding-right: 5px;
}
.head_message{
    margin-top: 30px;
}
.msg-text{
    color: #606060;
    font-weight: 400;
    font-size: 15px;
}
.my_message{
    padding-bottom: 10px;
    padding-top: 10px;
}
.my_message q{
    font-weight: 500;
    font-size: 17px;
    color: #959595;
}
.my_message q:hover {
    text-decoration: none !important;
}
.send_form{
    width: 100%;
    border: 1px solid #ccc;
}

.send_form::-moz-placeholder{
    color: #2d2d2d !important;
    font-family: Lato;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;

}
.send_form:-moz-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;

}

.send_form:-ms-input-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;

}
.send_form::-webkit-input-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}
.send_message_buttton {
    font-family: Lato;
    font-weight: 900;
    display: inline-block;
    padding: 6px 30px 6px;
    margin-top: 10px;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #66ce00;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}
.title_message{
    padding-left: 0px;
    padding-right: 0px;
}
.img_message img{
    width:100%;
    border-radius: 50%
}
.status_online.online a{
    color: #247805;
}
.status_online.offline a{
    color: #ff6f69;
}
.checkStatus.online:before,
.checkStatus.offline:before,
.status_online.online a:before,
.status_online.offline a:before{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    content: '';
    margin-right: 5px;
}
.checkStatus.online:before,
.status_online.online a:before{
    background-color: #247805;
}
.checkStatus.offline:before,
.status_online.offline a:before{
    background-color: #ff6f69;
}

.style-scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.style-scrollbar::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.style-scrollbar::-webkit-scrollbar-thumb
{
    background-color: #000000;
}


.send_form{
    color: #2d2d2d!important;
    padding: 6px;
    font-family: Lato;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
}
.img_message img{
    border: 1px solid #c6c6c5;
}
.form_message{
    padding: 15px 12px;
    border-radius: 0px;
    height: 46px;
    display: inline-block;
    width: 300px;
}

.modal_bodu_padding_message{
    padding: 15px 17px 4px!important;
}
.form_message_sviat{
    width: 473px;
}
.button_mesage_svita{
    padding: 13px 31px 21px;
    border-radius: 0px;
    height: 46px;
    float: right;
    margin-right: 215px;
}
.message_text{
    color: #959595;
}
.form_message_sviat::-moz-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
}
.form_message_sviat:-moz-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;

}
.form_message_sviat:-ms-input-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;

}
.form_message_sviat::-webkit-input-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;

}
.class_down_message{
    margin-left: 359px;
}
.lable_style label{
    color: #959595;
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
    width: 100%;
    text-align: left;
}
.title_bottom_style{
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.title_bottom_style1{
    padding-top: 30px;
}
.padding_bottom_form1{
    padding-left: 0px;
}
.content_sviat1{
    padding: 0 0 60px;
}
.button_personal3{
    margin-top: 20px;
}
.width_sviat_message{
    width: 100%;
}
.width_sviat_message::-moz-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;
}
.width_sviat_message:-moz-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;

}
.width_sviat_message:-ms-input-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;

}
.width_sviat_message::-webkit-input-placeholder{
    color: #2d2d2d!important;
    font-family: Lato;
    font-size: 14px;
    font-weight: 500;

}
.form_style_border{
    padding: 15px 12px;
    border-radius: 0px;
    height: 46px;
}
.button_mesage_svita1{
    padding: 13px 31px 21px;
    border-radius: 0px;
    height: 46px;

}
.mail {
    overflow-x:hidden
}
.deleteChoiseCity{
    position:absolute;
    right:10px;
    top:12px;
    cursor:pointer;
    color: #898989;
}
.deleteChoiseCity:hover{
    color: #ff6f69;
}
.cityPreview{
    border-left: 4px solid #ccc;
    border-right: 4px solid #ccc;
}
.cityPreview li{
    padding-left: 5px;
}

.yourCityConfirm{
    height: 36px;
    margin-top: 12px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #ff6f69;
    border-radius: 2px;
    display:inline-block;
    font-family: 'Lato';
    font-weight: bold;
    padding:0px 20px;
    font-size: 14px;
    cursor:pointer;
}
.yourCityConfirm:hover{
    text-decoration: none;
    color: #fff;    
}
.cityChoiseClose{
    margin-right:-15px;
    color:grey;
    font-size: 24px !important;
    cursor:pointer;
}
.choiseOtherCity{
    //display:inline-block;
    font-size:14px;
    cursor:pointer;
    color:#00b2e2;
    text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px dashed #00b2e2;
}
.choiseOtherCity:hover{
    color:#00b2e2;
    text-decoration: none; /* Убираем подчеркивание */
    border-bottom: 1px dashed #00b2e2;
}

.choiseCity::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8e8e8e;
}
.choiseCity::-moz-placeholder { /* Firefox 19+ */
  color: #8e8e8e;
}
.choiseCity:-ms-input-placeholder { /* IE 10+ */
  color: #8e8e8e;
}
.choiseCity:-moz-placeholder { /* Firefox 18- */
  color: #8e8e8e;
}
.gridStyle, .listStyle{
    padding:7px 14px 7px 14px;
    display: inline-block;
    border-radius: 3px;
    border:1px solid #bebebe;
    cursor:pointer;
}
.listStyle.active, .gridStyle.active{
    border:1px solid #ff6f69;
}
.img_category_bacg_black{
    background-color: #000000;
    background-size: cover;
    width: 100%;
    height: 86px;
    opacity: 0.46;
    text-align: center;
    display: table;
    margin-bottom: 0px;
    padding: 0 14px;
    position: absolute;
    border-radius: 3px;
    bottom: 0px;
    border: 1px solid #00b2e2;
}
.img_category_bacg_black3{
    background-color: #f3f3f3;
    background-size: cover;
    width: 100%;
    height: 86px;
    opacity: 0.46;
    text-align: center;
    display: table;
    margin-bottom: 0px;
    padding: 0 14px;
    position: absolute;
    border-radius: 3px;
    bottom: 0px;
}